body {
    font-family: sans-serif;
    margin: 0%;
    background-image: url('truchet-d.jpg');

}

html {
    scroll-behavior: smooth;
}

.nav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, .8);
    color: #fff;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    /*opacity: 90%;*/
    backdrop-filter: blur(5px);
}
.nav a{
    padding: 16px;
    
    text-decoration: none;
    color: #fff;
}
a:hover {
    background-color: rgba(255, 255, 255, .7);
    color: #333;
}

.content {
    background-color: rgba(215, 215, 215, .7);
    position:relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 155px;
    margin-right: 155px;
    padding: 45px;
    /*opacity: 88%;*/
    border-radius: 2%;
    backdrop-filter: blur(15px);
    
}
